<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vapeur - Gestion de jeux vidéo</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <header>
            <h1><a href="/">Vapeur</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/games">Jeux</a></li>
                    <li><a href="/types">Genres</a></li>
                    <li><a href="/editors">Éditeurs</a></li>
                </ul>
            </nav>
        </header>
            {{{ body }}}
            {{> footer }}
    </body>
</html>