<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vapeur - Gestion de jeux vidéo</title>
        <link rel="icon" href="/image/logo.png" type="image/png">
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        {{> header }}
        <main>
            {{{ body }}}
        </main>
        {{> footer }}
    </body>
</html>