<div class="container">
    <div class="page-header editeurs-header">
        <h1 class="editeurs-title">Éditeurs</h1>
        <a href="/editeurs/new" class="btn btn-primary add-editor">➕ Nouvel éditeur</a>
    </div>

    {{#if editeurs}}
        <div class="cards">
            {{#each editeurs}}
                <a href="/editeurs/{{this.id}}" class="card">
                    <h3 class="name">{{this.nom}}</h3>
                    <div class="meta">
                        <span class="count">{{this.jeux_publies.length}} jeu(x) publié(s)</span>
                    </div>
                </a>
            {{/each}}
        </div>
    {{else}}
        <div class="empty-state">
            <p>Aucun éditeur pour le moment.</p>
            <a href="/editeurs/new" class="btn btn-primary">Créer un éditeur</a>
        </div>
    {{/if}}
</div>
